img {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
  }
  
  
  
  @keyframes example {
    0%   {left:0px; top:0px;transform: rotate(0deg);} 
    25%  {left:200px; top:0px;transform: rotate(90deg);}
    50%  {left:200px; top:200px;transform: rotate(180deg);}
    75%  {left:0px; top:200px;transform: rotate(270deg);}
    100% {left:0px; top:0px;transform: rotate(360deg);}
  }
  